
/* Color reference: https://www.colorcombos.com/color-schemes/124/ColorCombo124.html */
:root {
  
    --main-color:#6D929B;
    --accent-color:#F5FAFA;
    --accent-color2:#ACD1E9;
    font-size: 100%;
    
}

/* Overall page style properties */
* {
   /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

/* To ensure media is never larager than its responsive container */
 img,
 picture,
 video {
   max-width: 100%;
 }

 header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-color);
 }

 /* My name as header 1 style properties */
 h1 {
    margin: 1rem;
    color:var(--main-color);
    background-color: var(--accent-color);
    padding: 1%;
 }

 /* Navigation section style properties */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: calc (1.5rem + 3vw);
    background-color: var(--main-color);
}

/* No bullet points in the navigation links, nav links are to the right */
header nav ul{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    background-color: var(--main-color);
    text-decoration: underline;
} 

/* Navigation Links Style Properties */
header nav a {
    display:flex;
    font-weight: bold;
    justify-content: center;
    color: var(--accent-color);
    text-decoration: none;
    background-color: var(--main-color);
    padding:.5em;
}

 /* Styling of hero backgroundn image */
.hero {
   background-image: url("../images/spring-background.jpeg");
   min-height: 120px;
   max-height: 120px;
   background-size: cover;
   position: relative; 
   color: var(--main-color);
}

/* Hero text styling */
.hero h2{
   margin: 1%;
   padding: 0.5%;
   background: var(--accent-color);
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   position: relative;
   float:right;
}

/* Profile photo max size */
 .profile img {
    max-width: 15%;
    border: var(--accent-color) solid;
 }

 /* Creates page layout to be in two columns */
 main {
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
 }

 .page-section {
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: stretch;
   align-content: space-between;
   margin-bottom: 15px;
}

 /* Aligns headers to the left side of page */
 .left-column {
   padding: 2%;
   width: 25%;
   font-size: calc(2rem + 1vw);
   position: relative;
   border-right: 4px solid var(--main-color);
 }

/* Styling of h2 text in the left-aside of page */
 aside > h2 {
   color: var(--main-color);
   text-align: right;
 }

 /* Aligns content to right side of page */
 .right-column {
   width: 68%;
   margin-left: 2%;
   margin-right: 4%;
 }  

 .right-column ~ .sub-work {
   display:flex;
 }  

 /* Style paragraph content in about-me section */
 .about-me p {
   color: var(--main-color);
   padding: 0.5em;
 }

 /* style work content to wrap */
.work {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

 /* Images to appear in Work Section */
 .prework-study-guide {
   background-image: url("../images/PreworkStudyGuide.png");
 }

 .m1-accessible-code {
   background-image: url("../images/M1-Challenge-Horiseon-Website.png");
 }

 .m1-archie {
   background-image: url("../images/150x150.jpg");
 }

 .MoveMeScene {
   background-image: url("../images/MoveMe-Scene-Project.png");
   background-position: center;

 }

 .m3-placeholder {
   background-image: url("../images/150x150.jpg");
 }

 .PutASporkInIt {
   background-image: url("../images/putasporkinit-co-2023-05-09.png");
   background-position: top center;
 }

 /* Styling of Middle Section with Work Content */
 .sub-work {
   border: 5px solid var(--main-color);
   background-blend-mode: soft-light;
   background-size: 125%;
   position: relative;
   min-height: 150px;
   max-height: 150px;
   flex-basis: calc(50% - 1em);
   display: flex;
   font-size: calc (1rem + 3vw);
 }

 /* Styling to meet acceptance criteria: WHEN I am presented with the developers first application THEN that application image image should be larger in size than the others */
 .sub-work:first-child {
   min-height: 400px;
   flex-basis: 100%;
 }  

 /* Header Styling on top of Work Images */
 .sub-work div {
   position: absolute;
   bottom: 5%;
   padding: 2%;
   background: var(--main-color);
   color: var(--accent-color);
   text-align: left;
 }

 .sub-work h3 {
   font-size: 120%;
 }

/* Images with links will change colors when you hover over them -- wasn't able to get this to work so went with option B below for hover*/
/* .sub-work:hover {
   background-image: pink;
 } */

 /* Images with links will change colors when you hover over them */
 .sub-work:hover {
   opacity: 0.1;
 }

 /* Styling of the contact details */
.contact-details {
   padding: 4%;
   margin: .5%;
   text-align: center;
}

/* Mobile Styling */
@media screen and (min-width: 320px) and (max-width: 480px) { 
   .page-section{
      text-align: center;
      /* display: flex;
      align-items: center;
      justify-content: center; */
      display: inline-block;
      vertical-align: middle;
   }
   .profile {
      display: flex;
      justify-content: center;
   }   
   .profile img {
      max-width: 75%;
   }
   .left-column{
      font-size: calc(1rem + 1vw);
      border-bottom: 4px solid var(--main-color);
      border-right: none;
      display: inline-block;
      vertical-align: middle;
   }
   .right-column{
      display: inline-block;
      vertical-align: middle;
   }
   aside > h2 {
      text-align: center;
    }
}

/* Tablet Styling */
@media screen and (min-width: 480px) and (max-width: 780px) { 
   .page-section{
      text-align: center;
   }
   .left-column{
      font-size: calc(1rem + 1vw);
      border-bottom: 4px solid var(--main-color);
      border-right: none;
   }    
}

 /* Large Desktop Styling */
@media screen and (min-width:780px) and (max-width: 1020px) { 
   .page-section{
      text-align: center;
   }
   .profile img {
      max-width: 10%;
   } 
   .left-column{
      font-size: calc(2rem + 1vw);
      border-right: 4px solid var(--main-color);
      border-bottom: none;
    }
   .sub-work {
      flex-basis: calc(50% - 1em);
      display: flex;
      font-size: calc (3rem + 3vw);
    } 
}
 /* There is no footer in Mock-Up so I have commented out this code */
/* footer {
    display:flex;
    font-style: italic;
} */

 /* APA Sources:

 How to put an icon in the head of HTML File - https://www.w3schools.com/html/html_favicon.asp

 How to add a hero image https://www.w3schools.com/howto/howto_css_hero_image.asp

 Hero Image Source: https://www.dreamstime.com/stock-photo-spring-background-wooden-table-sunny-white-flowers-empty-concept-image90428039
 */