

:root {
    --main-bg-color: #F5FAFA;
    --main-font-color: #6D929B;
    --sub-content-font-color: #F5FAFA;
    --content-bg-color:#ACD1E9;
    --header-bg-color: #6D929B;
    font-size: 100%;
}

/* Overall page style properties */
* {
   display:flex;
   flex-direction:column;
   background-color: var(--main-bg-color);
   color: var(--main-font-color);
   /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

/* To ensure media is never larager than its responsive container */
 img,
 picture,
 video {
   max-width: 100%;
 }

 header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--header-bg-color);
 }

 /* My name as header 1 style properties */
 h1 {
    margin: 1rem;
    color:#F5FAFA;
    background-color: var(--header-bg-color);
 }

 /* Navigation section style properties */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: calc (1.5rem + 3vw);
    background-color: var(--header-bg-color);
}

/* No bullet points in the navigation links, nav links are to the right */
header nav ul{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:flex-end;
    background-color: var(--header-bg-color);
} 

/* Navigation Links Style Properties */
header nav a {
    font-weight: bold;
    color: var(--sub-content-font-color);
    text-decoration: none;
    background-color: var(--header-bg-color);
}

 /*.profile {
    padding: 1em;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
 } */

 img {
    max-width: 25%;
 }

 h2 ~ p {
    background: var(--content-bg-color);
    color: var(--sub-content-font-color);
 }

 /*remove bullets*/
 .work li {
    list-style-type: none;
 }

 /* Create box borders */
 .work {
    text-align: center;
    padding: 1em;
    font: 1em;
    display:flex;
    /* background: var(--content-bg-color); */
    flex: wrap;
 }
 
 .work ~ p {
    background: var(--content-bg-color);
 }


footer {
    display:flex;
    font-style: italic;
}

 /* APA Sources:

 https://projects.verou.me/css3patterns/#cicada-stripes
 */