
/* Color reference: https://www.colorcombos.com/color-schemes/124/ColorCombo124.html */
:root {
  
    --main-color:#6D929B;
    --accent-color:#F5FAFA;
    --accent-color2:#ACD1E9;
    font-size: 100%;
    
}

/* Overall page style properties */
* {
   background-color: var(--accent-color);
   color: var(--main-color);
   /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

/* To ensure media is never larager than its responsive container */
 img,
 picture,
 video {
   max-width: 100%;
 }

 header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-color);
 }

 /* My name as header 1 style properties */
 h1 {
    margin: 1rem;
    color:var(--main-color);
    background-color: var(--accent-color);
    padding: 1%;
 }

 /* Navigation section style properties */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: calc (1.5rem + 3vw);
    background-color: var(--main-color);
}

/* No bullet points in the navigation links, nav links are to the right */
header nav ul{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    background-color: var(--main-color);
    text-decoration: underline;
} 

/* Navigation Links Style Properties */
header nav a {
    display:flex;
    font-weight: bold;
    justify-content: center;
    color: var(--accent-color);
    text-decoration: none;
    background-color: var(--main-color);
    padding:.5em;
}

 /* Styling of hero backgroundn image */
.hero {
   background-image: url("../images/spring-background.jpeg");
   min-height: 120px;
   max-height: 120px;
   background-size: cover;
   position: relative; 
}

/* Hero text styling */
.hero h2{
   margin: 1%;
   padding: 0.5%;
   background: var(--accent-color);
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   position: relative;
   float:right;
}

/* Profile photo max size */
 .profile img {
    max-width: 15%;
    border: var(--accent-color) solid;
 }

 /* Creates page layout to be in two columns */
 main {
   display: flex;
   flex-direction: column;
 }

 /* Aligns headers to the left side of page */
 .left-column {
   padding: 2%;
   display: flex;
   flex-direction: column;
   flex: 1, 1, auto;
   float:left;
   width: 25%;
   font-size: 200%;
   justify-content: flex-end;
   align-items: stretch;
   position: relative;
 }

 aside {
   border-right: 4px solid var(--main-color);
   position: absolute;
   width: 100%;
   height: 100%;
 }

 /* Aligns content to right side of page */
 .right-column {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* flex: 3; */
   float:right;
   width: 75%;
   align-items: stretch;
   justify-content: center;
   text-align: center;
 }  

 /* Styling of Middle Section with Work Content */
 .sub-work {
   border: 5px solid var(--main-color);
   /* background-blend-mode: soft-light; */
   background-size: 125%;
   margin: 1%;
   position: relative;
   min-height: 150px;
   max-height: 150px;
   flex-basis: calc(50% - 1em);
   display:flex;
   align-items: flex-end;
   font-size: calc (1rem + 3vw);
 }

 /* Styling to meet acceptance criteria: WHEN I am presented with the developers first application THEN that application image image should be larger in size than the others */
 .sub-work:first-child {
   min-height: 400px;
   flex-basis: 100%;
 }  


 p {
    padding: 0.5em;
 }

 /* Header Styling on top of Work Images */
 .sub-work div {
   position: absolute;
   bottom: 5%;
   padding: 5%;
   background: var(--accent-color2);
   color: var(--accent-color);
 }

 /* Images to appear in Work Section */
.prework-study-guide {
   background-image: url("../images/PreworkStudyGuide.png");
 }

 .m1-accessible-code {
   background-image: url("../images/M1-Challenge-Horiseon-Website.png");
 }

 .m1-archie {
   background-image: url("../images/150x150.png");
 }

 .m2-placeholder {
   background-image: url("../images/150x150.jpg");
 }

 .m3-placeholder {
   background-image: url("../images/150x150.jpg");
 }


 /* Images with links will change colors when you hover over them */
 .sub-work:hover img {
   background-color: var(--main-color);
   opacity: 0.3;
 }
 
.contact-info {
   padding: 4%;
   margin: .5%;
}

 /* There is no footer in Mock-Up so I have commented out this code */
/* footer {
    display:flex;
    font-style: italic;
} */

 /* APA Sources:

 https://projects.verou.me/css3patterns/#cicada-stripes

 How to put an icon in the head of HTML File - https://www.w3schools.com/html/html_favicon.asp

 How to add a hero image https://www.w3schools.com/howto/howto_css_hero_image.asp

 Hero Image Source: https://www.dreamstime.com/stock-photo-spring-background-wooden-table-sunny-white-flowers-empty-concept-image90428039
 */