

:root {
    --main-bg-color: #6CA0DC;
    --main-font-color: white;
}

* {
   background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

/* To ensure media is never larager than its responsive container */
 img,
 picture,
 video {
   max-width: 100%;
 }

 header {
    display:inline-block;
 }

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: calc (1.5rem + 3vw);

}

/* No bullet points in the navigation links */
header nav ul{
    list-style-type: none;
}

/* Navigation links appear in a row */
header nav ul li{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}


 .profile {
   
 }

 img {
    max-width: 25%;
 }

 




 /* APA Sources:

 
 */