
/* Color reference: https://www.colorcombos.com/color-schemes/124/ColorCombo124.html */
:root {
  
    --main-color:#6D929B;
    --accent-color:#F5FAFA;
    --accent-color2:#ACD1E9;
    --standard-image-size: 100%;
    font-size: 100%;
    
}

/* Overall page style properties */
* {
   /* display:flex;
   flex-direction:column; */
   background-color: var(--main-bg-color);
   color: var(--main-color);
   /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

/* To ensure media is never larager than its responsive container */
 img,
 picture,
 video {
   max-width: 100%;
 }

 header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-color);
 }

 /* My name as header 1 style properties */
 h1 {
    margin: 1rem;
    color:var(--main-color);
    background-color: var(--accent-color);
    padding: 1%;
    /* padding: .5em; */
 }

 /* Navigation section style properties */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: calc (1.5rem + 3vw);
    background-color: var(--main-color);
}

/* No bullet points in the navigation links, nav links are to the right */
header nav ul{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    background-color: var(--main-color);
    text-decoration: underline;
} 

/* Navigation Links Style Properties */
header nav a {
    display:flex;
    font-weight: bold;
    justify-content: center;
    color: var(--accent-color);
    text-decoration: none;
    background-color: var(--main-color);
    padding:.5em;
}

 /*.profile {
    padding: 1em;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
 } */

.hero {
   background-image: url("./assets/images/laptop.jpeg");
   background-size: cover;
   background-position:center;
}

 .profile img {
    max-width: 25%;
 }

 h2 ~ p {
    background: var(--accent-color2);
    color: var(--accent-color);
 }

 p {
    padding: 0.5em;
 }

 /* Create box borders */
 .work {
   position: relative;
   text-align: center;
   padding: 1em;
   display:flex;
   flex: wrap;
 }

 /* image styling */
 .work img {
   max-width: var(--standard-image-size);
 }
 
 .work ~ p {
    background: var(--accent-color2);
 }

.sub-work {
   
    flex: display;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    border: var(--main-color) solid;
    position: relative;
    text-align: center;
}


.work header {
   position: absolute;
   bottom: 2%;
   left: 5%;
   padding: 5%;
   background: var(--accent-color2);
   color: var(--accent-color);
 }
 

.contact-info {
   flex: display;
   flex-direction: row;
   border: var(--main-color) solid;
   justify-content: space-between;
}


aside {
   width: 25%;
   text-align:center;
 }

 aside h2 {
   font-size: 150%;
 }

footer {
    display:flex;
    font-style: italic;
}

 /* APA Sources:

 https://projects.verou.me/css3patterns/#cicada-stripes

 How to put an icon in the head of HTML File - https://www.w3schools.com/html/html_favicon.asp

 How to add a hero image https://www.w3schools.com/howto/howto_css_hero_image.asp
 */